<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030821720555-d0r7j5eh2halulaoir3tm912bep3ehbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030821720555-d0r7j5eh2halulaoir3tm912bep3ehbt</string>
	<key>API_KEY</key>
	<string>AIzaSyDHFBCfLD4inCNIM3_apn_vHq6mdnQF-qM</string>
	<key>GCM_SENDER_ID</key>
	<string>1030821720555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.osakac.cs.hisalab.gameofchats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-7e14b</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-7e14b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030821720555:ios:3926fe9b35151484</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-7e14b.firebaseio.com</string>
</dict>
</plist>